@page "/categories/add"

<PageTitle>Add Category</PageTitle>

<RadzenText TextStyle="TextStyle.H3">Categories</RadzenText>

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Home"/>
        <RadzenBreadCrumbItem Path="/categories" Text="Categories"/>
        <RadzenBreadCrumbItem Text="Add"/>
    </RadzenBreadCrumb>
</div>

@if (_errorMessages.Any())
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="true" Title="Error" Variant="Variant.Flat" Shade="Shade.Lighter">
        @_errorMessages
    </RadzenAlert>
}

<RadzenTemplateForm TItem="CategoryCreateRequest" Data="@_category" Submit="@OnSubmit">
    <RadzenFieldset Text="Category information">
        <RadzenStack Gap="1rem">
            <RadzenLabel Text="Name" Component="Name"/>
            <RadzenTextBox Style="display: block"
                           Name="Name"
                           @bind-Value="@_category.Name"
                           class="w-100"
                           Placeholder="Enter category name"/>
            <RadzenCustomValidator Component="Name"
                                   Text="Name is required and has 50 characters maximum"
                                   Validator="@(() => ValidateCategoryName(_category.Name))"/>
            <RadzenLabel Text="Description" Component="Description"/>
            <RadzenTextBox Style="display: block"
                           Name="Description"
                           @bind-Value="@_category.Description"
                           class="w-100"
                           Placeholder="Enter category description"/>
            <RadzenCustomValidator Component="Description"
                                   Text="Description has 100 characters maximum"
                                   Validator="@(() => ValidateCategoryDescription(_category.Description))"/>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" IsBusy="@_busy"></RadzenButton>
        </RadzenStack>
    </RadzenFieldset>
</RadzenTemplateForm>