<h3>Categories</h3>

@page "/categories"

<PageTitle>Categories management</PageTitle>

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Home"/>
        <RadzenBreadCrumbItem Text="Categories"/>
    </RadzenBreadCrumb>
</div>

@if (_errorMessages.Any())
{
    <ErrorStack ErrorMessages="@_errorMessages"></ErrorStack>
}

<RadzenDataGrid @ref="_dataGrid"
                Data="_categories"
                TItem="CategoryResponse"
                IsLoading="@_loading"
                AllowFiltering="true"
                AllowSorting="true">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No categories found</p>
    </EmptyTemplate>
    <HeaderTemplate>
        <RadzenButton Icon="add"
                      Text="Add category"
                      ButtonStyle="ButtonStyle.Primary"
                      Click="@(() => AddCategory())"/>
        <RadzenButton Icon="refresh"
                      Text="Refresh"
                      ButtonStyle="ButtonStyle.Secondary"
                      Click="@(() => OnInitializedAsync())"/>
        <RadzenButton Icon="file_download"
                      Text="Export to CSV"
                      ButtonStyle="ButtonStyle.Info"
                      Click="@(() => ExportToCsv())"/>
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="CategoryResponse"
                              Width="250px"
                              Property="@nameof(CategoryResponse.Name)"
                              Title="@nameof(CategoryResponse.Name)">
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CategoryResponse"
                              Property="@nameof(CategoryResponse.Description)"
                              Title="@nameof(CategoryResponse.Description)"/>
        <RadzenDataGridColumn TItem="CategoryResponse"
                              Width="100px"
                              Frozen="true"
                              Filterable="false"
                              Sortable="false">
            <Template Context="category">
                <RadzenButton Variant="Variant.Flat"
                              Icon="edit"
                              ButtonStyle="ButtonStyle.Warning"
                              Click="@(() => EditCategory(category.Id))"/>
                <RadzenButton Variant="Variant.Flat"
                              Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Click="@(() => DeleteCategory(category.Id))"/>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>